.swiper {
	
	&-slide {
	display: flex;
	width: 206px !important;
	height: 70px;
	border: 1px rgba(234, 234, 234, 1) solid;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 1);
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
}

&-wrapper {
	padding: 16px;
	padding-bottom: 52px;
	list-style-type: none;
}

	&-pagination-bullet {
		background-color: rgb(144, 145, 146);

		&-active {
			background-color: rgb(154, 154, 155);
		}
	}
}
 .slider {
		&__pagination {
			--swiper-pagination-bottom: 16px;
		}
 }

@media (min-width: 768px) {

	.slider {	
		&__wrapper {
			height: 160px;
			overflow: hidden;
		}
	}

	.swiper {
		&-wrapper {
			display: flex;
			gap: 24px;
			flex-wrap: wrap;
			position: relative;
			padding: 24px;
		}

		&-slide {
			margin: 0 !important;
			width: 190px !important;
		}
	}
}

@media (min-width: 1366px) {	

	.swiper {
		&-wrapper {
			display: flex;
			gap: 32px;
			flex-wrap: wrap;
			position: relative;
			padding: 24px 32px;
		}

		&-slide {
			margin: 0 !important;
			width: 222px !important;
		}	
	}	
}